* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font:inherit;
}

img, svg {
  display: block;
  max-width: 100%;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
}

.main-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1%;
    width: 22.2%;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}

img {
    border-radius: 5%;
}

h1 {
    font-size: 1.55vw;
    padding: 7% 6%;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    padding: 0 6%;
    padding-bottom: 9%;
    font-size: 1.1vw;
}

@media screen and (max-width: 1000px) {
    
    .background {
        width: 100%;
        height: 100%;   
    }
    
    .main-container {
        width: 100%;
        margin: 20% 8%;
        padding: 3%;
    } 

    h1 {
        font-size: 6vw;
    }
    
    p {
        font-size: 4vw;
    }
}



